<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

    <div id="information">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="container-fluid" style="padding:0;">
                <div class="row info-content">
                  <div class="col-md-5 col-sm-5 col-xs-5">
                    <img src="img/info1.jpg" class="img-responsive" alt="">
                  </div>
                  <div class="col-md-7 col-sm-7 col-xs-7">
                    <h4>广电总局发布TVOS2.0 华为阿里参与研发</h4>
                    <p class="hidden-xs">TVOS2.0是在TVOS1.0与华为MediaOS及阿里巴巴YunOS融合的基础上，打造的新一代智能电视操作系统。华为主要承担开发工作，内置的电视购物商城由阿里方面负责。</p>
                    <p>admin 15 / 10 / 11</p>
                  </div>
                </div>
                <div class="row info-content">
                  <div class="col-md-5 col-sm-5 col-xs-5">
                    <img src="img/info2.jpg" class="img-responsive" alt="">
                  </div>
                  <div class="col-md-7 col-sm-7 col-xs-7">
                    <h4>苹果四寸手机为何要配置强大的A9处理器？</h4>
                    <p class="hidden-xs">苹果明年初有可能对外发布一款经过升级的四英寸手机，相当于iPhone 5s。该手机将会配置苹果在2015年旗舰手机中采用的A9处理器。配置性能如此强大的应用处理器？</p>
                    <p>admin 15 / 10 / 11</p>
                  </div>
                </div>
                <div class="row info-content">
                  <div class="col-md-5 col-sm-5 col-xs-5">
                    <img src="img/info3.jpg" class="img-responsive" alt="">
                  </div>
                  <div class="col-md-7 col-sm-7 col-xs-7">
                    <h4>六家互联网公司发声明 抵制流量劫持等违法行为</h4>
                    <p class="hidden-xs">六家互联网公司（今日头条、美团大众点评网、360、腾讯、微博、小米科技）发布联合声明，呼吁有关运营商打击流量劫持，重视互联网公司被流量劫持，可能导致的严重后果。</p>
                    <p>admin 15 / 10 / 11</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              4
            </div>
          </div>
        </div>
      </div>
      
</body>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>